# Part 1- Data Preprocessing

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd

### Collecting Dataset

In [2]:
data=pd.read_csv("Churn_Modelling.csv")

In [3]:
# Info of Data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
# Looking at the data insight
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

## Preparing Data

In [5]:
# X contains all features
X=data.iloc[:,3:-1]
# Y contains Labels
Y=data.iloc[:,-1]

In [6]:
Y[:11]

0     1
1     0
2     1
3     0
4     0
5     1
6     0
7     1
8     0
9     0
10    0
Name: Exited, dtype: int64

In [7]:
X[:11]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12

## Preprocessing Categorical data

In [8]:
from sklearn.preprocessing import LabelEncoder
Label_encoder_1=LabelEncoder()
X.iloc[:,1]=Label_encoder_1.fit_transform(X.iloc[:,1])
Label_encoder_2=LabelEncoder()
X.iloc[:,2]=Label_encoder_2.fit_transform(X.iloc[:,2])

In [9]:
X[:5]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [10]:
# one hot encoding
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

## Splitting Data into training and testing data

In [11]:
# X_train,Y_train for training and X_test and Y_test for testing the data 
from sklearn.cross_validation import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Feature scaling

In [12]:
#scaling features
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)

X_test=sc.transform(X_test)

# Part 2 - Making DNN Model

In [13]:
# Import keras library for DNN
import keras
from keras.models import Sequential
from keras.layers import Dense

E:\Anaconda\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [14]:
# Initializing DNN
classifier=Sequential()

In [15]:
from keras.layers import Dropout
# Adding layers to DNN
# First hidden layer and input layer with Dropout
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11))
classifier.add(Dropout(p=0.1))
# Second hidden layer
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))
classifier.add(Dropout(p=0.1))
# output layer
classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dropout` call to the Keras 2 API: `Dropout(rate=0.1)`
  """
E:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dropout` call to the Keras 2 API: `Dropout(rate=0.1)`

In [16]:
# compiling DNN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [17]:
# fitting data into DNN
classifier.fit(X_train,Y_train,batch_size=10,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 4s 559us/step - loss: 0.5002 - acc: 0.7956
Epoch 2/100
8000/8000 [==============================] - 4s 454us/step - loss: 0.4390 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 3s 346us/step - loss: 0.4346 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 3s 319us/step - loss: 0.4359 - acc: 0.7960
Epoch 5/100
8000/8000 [==============================] - 3s 378us/step - loss: 0.4303 - acc: 0.7960
Epoch 6/100
8000/8000 [==============================] - 3s 323us/step - loss: 0.4307 - acc: 0.7960
Epoch 7/100
8000/8000 [==============================] - 3s 314us/step - loss: 0.4265 - acc: 0.7960
Epoch 8/100
8000/8000 [==============================] - 2s 307us/step - loss: 0.4300 - acc: 0.8000
Epoch 9/100
8000/8000 [==============================] - 3s 319us/step - loss: 0.4304 - acc: 0.8164
Epoch 10/100
8000/8000 [==============================] - 3s 408us/step - loss: 0.4279 - acc: 0.8207 0s - loss: 0.4240 - acc:
Epoch 11/100
8000/8000 [==============================] - 3s 373us/step - loss: 0.4294 - acc: 0.8185
Epoch 12/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4287 - acc: 0.8251
Epoch 13/100
8000/8000 [==============================] - 3s 363us/step - loss: 0.4250 - acc: 0.8244
Epoch 14/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.4289 - acc: 0.8275
Epoch 15/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.4279 - acc: 0.8245
Epoch 16/100
8000/8000 [==============================] - 3s 338us/step - loss: 0.4281 - acc: 0.8230
Epoch 17/100
8000/8000 [==============================] - 3s 415us/step - loss: 0.4259 - acc: 0.8252
Epoch 18/100
8000/8000 [==============================] - 3s 413us/step - loss: 0.4268 - acc: 0.8256
Epoch 19/100
8000/8000 [==============================] - 3s 362us/step - loss: 0.4282 - acc: 0.8255
Epoch 20/100
8000/8000 [==============================] - 3s 362us/step - loss: 0.4261 - acc: 0.8247
Epoch 21/100
8000/8000 [==============================] - 3s 422us/step - loss: 0.4250 - acc: 0.8282
Epoch 22/100
8000/8000 [==============================] - 4s 455us/step - loss: 0.4273 - acc: 0.8272
Epoch 23/100
8000/8000 [==============================] - 3s 381us/step - loss: 0.4269 - acc: 0.8259
Epoch 24/100
8000/8000 [==============================] - 3s 338us/step - loss: 0.4270 - acc: 0.8266
Epoch 25/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4246 - acc: 0.8277
Epoch 26/100
8000/8000 [==============================] - 3s 344us/step - loss: 0.4281 - acc: 0.8266
Epoch 27/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4293 - acc: 0.8261
Epoch 28/100
8000/8000 [==============================] - 3s 337us/step - loss: 0.4259 - acc: 0.8244
Epoch 29/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4320 - acc: 0.8265
Epoch 30/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.4244 - acc: 0.8267
Epoch 31/100
8000/8000 [==============================] - 2s 307us/step - loss: 0.4243 - acc: 0.8280
Epoch 32/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.4254 - acc: 0.8275
Epoch 33/100
8000/8000 [==============================] - 3s 340us/step - loss: 0.4263 - acc: 0.8294
Epoch 34/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4248 - acc: 0.8262
Epoch 35/100
8000/8000 [==============================] - 3s 321us/step - loss: 0.4284 - acc: 0.8280
Epoch 36/100
8000/8000 [==============================] - 3s 350us/step - loss: 0.4291 - acc: 0.8280
Epoch 37/100
8000/8000 [==============================] - 3s 353us/step - loss: 0.4249 - acc: 0.8285
Epoch 38/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.4286 - acc: 0.8287
Epoch 39/100
8000/8000 [==============================] - 3s 349us/step - loss: 0.4267 - acc: 0.8297
Epoch 40/100
8000/8000 [==============================] - 3s 356us/step - loss: 0.4284 - acc: 0.8272
Epoch 41/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.4259 - acc: 0.8271
Epoch 42/100
8000/8000 [==============================] - 3s 322us/step - loss: 0.4233 - acc: 0.8292
Epoch 43/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.4236 - acc: 0.8280
Epoch 44/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.4208 - acc: 0.8310
Epoch 45/100
8000/8000 [==============================] - 3s 345us/step - loss: 0.4260 - acc: 0.8291
Epoch 46/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.4235 - acc: 0.8292
Epoch 47/100
8000/8000 [==============================] - 3s 424us/step - loss: 0.4268 - acc: 0.8277
Epoch 48/100
8000/8000 [==============================] - 3s 347us/step - loss: 0.4258 - acc: 0.8287
Epoch 49/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.4254 - acc: 0.8290
Epoch 50/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.4233 - acc: 0.8299
Epoch 51/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4246 - acc: 0.8281
Epoch 52/100
8000/8000 [==============================] - 3s 323us/step - loss: 0.4243 - acc: 0.8296
Epoch 53/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4234 - acc: 0.8307
Epoch 54/100
8000/8000 [==============================] - 3s 334us/step - loss: 0.4242 - acc: 0.8286
Epoch 55/100
8000/8000 [==============================] - 3s 336us/step - loss: 0.4253 - acc: 0.8277
Epoch 56/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.4263 - acc: 0.8260
Epoch 57/100
8000/8000 [==============================] - 3s 362us/step - loss: 0.4225 - acc: 0.8289
Epoch 58/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.4240 - acc: 0.8319
Epoch 59/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.4237 - acc: 0.8272
Epoch 60/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.4277 - acc: 0.8291
Epoch 61/100
8000/8000 [==============================] - 3s 328us/step - loss: 0.4224 - acc: 0.8275
Epoch 62/100
8000/8000 [==============================] - 3s 347us/step - loss: 0.4228 - acc: 0.8287
Epoch 63/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.4234 - acc: 0.8267
Epoch 64/100
8000/8000 [==============================] - 3s 375us/step - loss: 0.4263 - acc: 0.8304
Epoch 65/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4234 - acc: 0.8317
Epoch 66/100
8000/8000 [==============================] - 3s 354us/step - loss: 0.4256 - acc: 0.8280
Epoch 67/100
8000/8000 [==============================] - 3s 397us/step - loss: 0.4212 - acc: 0.8300
Epoch 68/100
8000/8000 [==============================] - 3s 399us/step - loss: 0.4258 - acc: 0.8294
Epoch 69/100
8000/8000 [==============================] - 3s 422us/step - loss: 0.4239 - acc: 0.8300
Epoch 70/100
8000/8000 [==============================] - 4s 487us/step - loss: 0.4217 - acc: 0.8317
Epoch 71/100
8000/8000 [==============================] - 4s 445us/step - loss: 0.4213 - acc: 0.8301
Epoch 72/100
8000/8000 [==============================] - 4s 487us/step - loss: 0.4211 - acc: 0.8291
Epoch 73/100
8000/8000 [==============================] - 3s 357us/step - loss: 0.4217 - acc: 0.8314
Epoch 74/100
8000/8000 [==============================] - 3s 378us/step - loss: 0.4228 - acc: 0.8301
Epoch 75/100
8000/8000 [==============================] - 3s 389us/step - loss: 0.4232 - acc: 0.8282
Epoch 76/100
8000/8000 [==============================] - 4s 487us/step - loss: 0.4263 - acc: 0.8294
Epoch 77/100
8000/8000 [==============================] - 5s 576us/step - loss: 0.4243 - acc: 0.8294
Epoch 78/100
8000/8000 [==============================] - 5s 575us/step - loss: 0.4239 - acc: 0.8304
Epoch 79/100
8000/8000 [==============================] - 5s 566us/step - loss: 0.4262 - acc: 0.8285
Epoch 80/100
8000/8000 [==============================] - 3s 435us/step - loss: 0.4228 - acc: 0.8309
Epoch 81/100
8000/8000 [==============================] - 3s 400us/step - loss: 0.4221 - acc: 0.8279

Epoch 82/100
8000/8000 [==============================] - 3s 415us/step - loss: 0.4238 - acc: 0.8302
Epoch 83/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.4246 - acc: 0.8304
Epoch 84/100
8000/8000 [==============================] - 3s 377us/step - loss: 0.4246 - acc: 0.8271
Epoch 85/100
8000/8000 [==============================] - 3s 362us/step - loss: 0.4256 - acc: 0.8274
Epoch 86/100
8000/8000 [==============================] - 3s 318us/step - loss: 0.4221 - acc: 0.8295
Epoch 87/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.4233 - acc: 0.8311
Epoch 88/100
8000/8000 [==============================] - 3s 334us/step - loss: 0.4243 - acc: 0.8310
Epoch 89/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.4231 - acc: 0.8316
Epoch 90/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.4248 - acc: 0.8295
Epoch 91/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.4252 - acc: 0.8297
Epoch 92/100
8000/8000 [==============================] - 2s 311us/step - loss: 0.4238 - acc: 0.8299
Epoch 93/100
8000/8000 [==============================] - 3s 321us/step - loss: 0.4229 - acc: 0.8300
Epoch 94/100
8000/8000 [==============================] - 3s 363us/step - loss: 0.4266 - acc: 0.8287
Epoch 95/100
8000/8000 [==============================] - 3s 421us/step - loss: 0.4242 - acc: 0.8302
Epoch 96/100
8000/8000 [==============================] - 3s 393us/step - loss: 0.4250 - acc: 0.8292
Epoch 97/100
8000/8000 [==============================] - 3s 356us/step - loss: 0.4230 - acc: 0.8309
Epoch 98/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.4230 - acc: 0.8320
Epoch 99/100
8000/8000 [==============================] - 3s 343us/step - loss: 0.4231 - acc: 0.8325
Epoch 100/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.4234 - acc: 0.8317

In [18]:
# predicting on test set
y_pred=classifier.predict(X_test)
y_pred=(y_pred>0.5)

In [19]:
print(y_pred[:20])

[[False]
 [False]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [False]
 [False]
 [False]
 [ True]
 [False]
 [False]
 [False]
 [False]
 [False]]

In [20]:
# Making confusion_matrix
from sklearn.metrics import confusion_matrix
cf=confusion_matrix(Y_test,y_pred)

In [21]:
print(cf)

[[1560   35]
 [ 285  120]]

In [22]:
# calculating accuracy
accuracy=(1547+148)/(1547+148+48+257)

In [23]:
print(accuracy)

0.8475

# Part -3 Evaluating

In [24]:
# Evaluating model with k-fold cross validation 
from keras.wrappers.scikit_learn import KerasClassifier

In [25]:
# defining classifier
def classifer():    
    classifier=Sequential()
    classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11))
    classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))
    classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))
    classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [ ]:
classifier=KerasClassifier(build_fn=classifer,batch_size=10,epochs=100)

In [ ]:
from sklearn.model_selection import cross_val_score
accuracy_list=cross_val_score(estimator=classifier,X=X_train,y=Y_train,cv=10,n_jobs=-1)

In [ ]:
# checking variance 
print(accuracy_list.mean)
print(accuracy_list.std)

In [ ]:
def classifer(optimizer):    
    classifier=Sequential()
    classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11))
    classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))
    classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))
    classifier.compile(optimizer=optimizer,loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
classifier=KerasClassifier(build_fn=classifer)

In [ ]:
parameters={'batch_size':[25,35,45,55],'epochs':[100,200,50,10],'optimizer':['adam','rmsprop']}

In [ ]:
grid_search=GridSearhCV(estimator=classifier,param_grid=parameters,scoring='accuracy',cv=10)

In [ ]:
grid_search=grid_search.fit(X_train,Y_train)

In [ ]:
best_parameters=grid_search.best_params_
best_accuracy=grid_search.best_score_

In [ ]:
print(best_parameters)
print(best_acc)